### Import packages

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

### Load Iris dataset from csv file

In [2]:
original_df = pd.read_csv("Iris.csv")
original_df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

Display the data types of each column.

In [3]:
original_df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species              str
dtype: object

### Preprocessing of Iris dataset

First we drop the unecessary column "Id".

In [4]:
original_df = original_df.drop(columns=["Id"])
original_df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

Next, we remove all the rows with missing data.

In [5]:
original_df = original_df.dropna()
original_df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

We split the "df" dataframe into the feature dataframe "df_X" and the label dataframe "df_Y".

In [6]:
X_df = original_df[["SepalLengthCm", "SepalWidthCm", "PetalLengthCm", "PetalWidthCm"]]
X_df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [7]:
Y_df = original_df[["Species"]]
Y_df

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [8]:
X_train_df, X_test_df, Y_train_df, Y_test_df = train_test_split(X_df, Y_df, test_size=0.2, random_state=37)

In [10]:
X_train = X_train_df.to_numpy()
Y_train = Y_train_df.to_numpy()
X_test = X_test_df.to_numpy()
Y_test = Y_test_df.to_numpy()

In [14]:
scalerX = StandardScaler()
X = scalerX.fit_transform(X_train).T
X.shape

(4, 120)

Create encoder to map categories to float label vectors and store them into the output vector Y.

In [15]:
encoderY = OneHotEncoder(sparse_output=False)
Y = encoderY.fit_transform(Y_train).T
Y.shape
#print("First element of Y:", Y[0])
#print("Last element of Y:", Y[len(Y) - 1])
#Y_first_label = df_Y.to_numpy()[0].reshape(1,1)
#Y_last_label = df_Y.to_numpy()[len(Y) - 1].reshape(1,1)
#assert Y_encoder.inverse_transform(Y_encoder.transform(Y_first_label)) ==  Y_first_label

(3, 120)

### Deep neural network initialization

In [53]:
### Shape of the network
xn = X.shape[0]
yn = Y.shape[0]

### Three layer NN
n = [xn, 4, 4, yn]

In [54]:
def initialize_parameters(n):
    l = len(n) - 1
    params = {}
    for i in range(l):
        params["W"+str(i+1)] = np.random.randn(n[i+1], n[i]) * 0.01
        params["b"+str(i+1)] = np.zeros((n[i+1], 1))

    return params

In [55]:
initialize_parameters(n)

{'W1': array([[ 0.01160373,  0.00696958, -0.01602091, -0.01730312],
        [ 0.00184582, -0.01680724, -0.00713504, -0.00311592],
        [ 0.00583529, -0.01897275,  0.00095132,  0.00139174],
        [ 0.00554258, -0.01665114,  0.00926057,  0.00729074]]),
 'b1': array([[0.],
        [0.],
        [0.],
        [0.]]),
 'W2': array([[ 0.00331492, -0.00730459,  0.00050188,  0.00366304],
        [ 0.01822075, -0.01963047,  0.02314702, -0.00175058],
        [ 0.02483917, -0.00204371, -0.00045169, -0.02055127],
        [ 0.00676984, -0.00932449, -0.00758428,  0.0146266 ]]),
 'b2': array([[0.],
        [0.],
        [0.],
        [0.]]),
 'W3': array([[ 0.00635948, -0.00322376,  0.00317198, -0.0002815 ],
        [-0.00236486, -0.00679051,  0.00705188,  0.01793213],
        [-0.00277989, -0.00703298, -0.02080538, -0.01191266]]),
 'b3': array([[0.],
        [0.],
        [0.]])}